html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

a {
    text-decoration: none;
}

li a {
    text-decoration: underline;
    color: #0288d1;
}

.mdl-grid {
    max-width: 1024px;
    margin: auto;
}

.mdl-layout__header-row {
    padding: 0;
}

.quickstart-user-details-container {
    margin-top: 20px;
    line-height: 25px;
}

#quickstart-sign-in-status {
    font-weight: bold;
}

pre {
    overflow-x: scroll;
    line-height: 18px;
}

code {
    white-space: pre-wrap;
    word-break: break-all;
}

h3 {
    /* background: url('/firebase-logo.png') no-repeat; */
    background-size: 40px;
    padding-left: 50px;
    color: white;
}


div.toggle-btns {
    position:relative;
    /* top:50%;
    left:50%;
    transform:translate(-50%,-50%); */
}
div.toggle-btn {
    margin: 20px 0px;
}
.toggle-btn label {
    position: relative;
    display: inline-block;
    width:100px;
    height:50px;
    background:#aaa;
    border-radius:30px;
    transition:all 300ms linear;
    vertical-align: middle;
}

.toggle-btn label:before {
    position:relative;
    content:"";
    width:40px;
    height:40px;
    background:#ddd;
    display:block;
    border-radius:50%;
    top:5px;
    left:10px;
    transition:all 300ms linear;
}
.toggle-btn.red input:checked + label {
    background:orangered;
}
.toggle-btn.green input:checked + label {
    background:#5ce227;
}
.toggle-btn input:checked + label {
    background:#00acee;
}
.toggle-btn input:checked + label:before {
    left:50px;
}

.toggle-btn input {
    display:none;
}

.toggle-span {
    display: inline-block;
    width: 70px;
}

.toggle-span span {
    font-size: 21px;
    vertical-align: top;
}


@media (max-width: 500px) {
    h3 {
        font-size: 22px;
    }
}

.color-p2p {
    color: #1088b8;
}

.color-admin {
    color: orangered;
}

.color-gob {
    color: #5ce227;
}